
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	/*text-rendering: geometricPrecision;*/
	-webkit-font-feature-settings: "kern" 1;
	font-family: Helvetica, Sans-Serif;
}


body {
  	background-color: #f3f3f3;
    color: #000;
    font-size: 16px;
    display: flex;
    flex-flow: column no-wrap;
    justify-content: space-between;
  }

video {
  width: 300;
  height: 300;
  z-index: 1;
}

p {
  display: inline;
  font-size: 16px;
}

.hiddenByDefault{
  display: none;
}

a, a:hover, a:focus, a:visited, a:link {
  text-decoration: none;
  color: #000;
}

/* S10 FRAME */



/* UTILITY CLASSES */

.bold {
  font-weight: 700;
}

#overlayImage{
  position: fixed;
  z-index: 70;
 /*background-image: "assets/imgSet4/01.png";*/
}

/* hide grey frame before src is added to img */
IMG[src=''], IMG:not([src])      {opacity:0;}

.overImgClass{
  position: absolute;
  height: 100%; 
  width: 100%;
}


.levels {
  position: fixed;
  width:900px;
  top: calc(50% - 245px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.levels_large {
  position: fixed;
  width:1280px;
  top: calc(50% - 365px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.centerButtonStyle{
    color: rgb(255, 82, 30);
    text-decoration: none;

}

.centerButtonStyle:hover{
  text-decoration: line-through;
  cursor: pointer;

}

.centerButton {
  position: fixed;
  width:900px;
  top: calc(50% );
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  z-index: 100;
}

.centerButton_large {
  position: fixed;
  width:1280px;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  z-index: 100;
}


.gifButtonClass {
  position: fixed;
  width:900px;
  top: calc(50% + 150px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  z-index: 100;
}

.gifButtonClass_large {
  position: fixed;
  width:1280px;
  top: calc(50% + 230px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  z-index: 100;
}


.resetIcon {
  background-image: url("../assets/backIcon.png");
  position: fixed;
  top: calc(50% + 230px);
  left: calc(50% - 353px);
  z-index: 100;
  background-size: 100% 100%;
  height: 35px;
  width: 35px;
}

.resetIcon:hover{
  background-image: url("../assets/backIconHover.png");
  cursor: pointer;
}

.resetIcon_large {
  background-image: url("../assets/backIcon.png");
  position: fixed;
  top: calc(50% + 355px);
  left: calc(50% - 525px);
  z-index: 100;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
}


.resetIcon_large:hover{
  background-image: url("../assets/backIconHover.png");
  cursor: pointer;
}


#preloader{
  position: fixed;
  width: 1px;
  height: 1px;
  left: -10px;
  bottom: -10px;
}

/***** beneth here dev and debug styles  ******/


.debugText {
  position: absolute;
  right: 1vw;
  color: #faa;
  font-size: 1vw;
  z-index: 100;

}

.debugButton {
  margin: 6px 6px 6px 0;
  padding: 4px;
  font-size: 14px;
  background-color: yellow;
}

.trainingsView{
 /* display: none;*/
  z-index: 200;
}

