
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	/*text-rendering: geometricPrecision;*/
	-webkit-font-feature-settings: "kern" 1;
	font-family: Helvetica, Sans-Serif;
}


body {
  	background-color: #e6e5e6;
    color:  black;

  }

video {
  width: 300;
  height: 300;
  z-index: 1;
}

p {
  display: inline;
  font-size: 16px;
}

.hiddenByDefault{
  display: none;
}


#overlayImage{
  position: fixed;
  z-index: 70;
 /*background-image: "assets/imgSet4/01.png";*/
}


/* hide grey frame before src is added to img */
IMG[src=''], IMG:not([src])      {opacity:0;}

.overImgClass{
  position: absolute;
  height: 100%; 
  width: 100%;
}


.levels {
  position: fixed;
  width:900px;
  top: calc(50% - 245px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.levels_large {
  position: fixed;
  width:1280px;
  top: calc(50% - 365px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.centerButtonStyle{
    color: rgb(255, 82, 30);
    text-decoration: none;

}

.centerButtonStyle:hover{
  text-decoration: line-through;
      cursor: pointer;

}


.centerButton {
  position: fixed;
  width:900px;
  top: calc(50% );
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  z-index: 100;
}

.centerButton_large {
  position: fixed;
  width:1280px;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.resetIcon {
  position: fixed;
  top: calc(50% + 255px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.resetIcon:hover{
  color: rgb(0, 255, 0); 
  cursor: pointer;
}

.resetIcon_large {
  position: fixed;
  top: calc(50% + 380px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 82, 30);
  z-index: 100;
}

.resetIcon_large:hover{
  color: rgb(0, 255, 0); 
  cursor: pointer;
}


#preloader{
  position: fixed;
  width: 1px;
  height: 1px;
  left: -10px;
  bottom: -10px;
}

/***** beneth here dev and debug styles  ******/


.debugText {
  position: absolute;
  right: 1vw;
  color: #ff0;
  font-size: 1vw;
  z-index: 100;

}

.debugButton {
  margin: 6px 6px 6px 0;
  padding: 4px;
  font-size: 14px;
  background-color: yellow;
}

.trainingsView{
 /* display: none;*/
  z-index: 100;
}

